[phases.setup]
nixPkgs = ['nodejs_20', 'python3']
aptPkgs = ['libnss3', 'libatk1.0-0', 'libatk-bridge2.0-0', 'libcups2', 'libgbm1', 'libasound2t64', 'libpangocairo-1.0-0', 'libxss1', 'libgtk-3-0', 'libxshmfence1', 'libglu1', 'chromium']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = [
  'cd client && npm ci --include=dev --legacy-peer-deps && npm run build',
  'npx puppeteer browsers install chrome'
]

[start]
cmd = 'node server/index.js'
